In [15]:
import pandas
import random
import math

In [197]:
muzi = ["Pepa", "Jenda", "Franta"]
zeny = ["Jolanda", "Cikanka", "Vestkyne"]
random.shuffle(muzi)
random.shuffle(zeny)
print(zeny)
vsichni = muzi + zeny
stanoviste = ["S1", "S2", "R", "H", "DHL"]
den = "Utery"
svatek = "Ne"
casy = ['6:30-7','7-8','8-9','9-10', "10-11", "11-12"]
df = pandas.DataFrame(columns=casy, index = [vsichni])
s1 = 0
s2 = 0
r = 0
h = 0
prvni_s1 = 0
druhy_s1 = 0

for j in range(len(casy)):
    for i in range(len(vsichni)):
        df.iloc[i,j] = "-"

['Cikanka', 'Vestkyne', 'Jolanda']

In [193]:
s1

0

In [198]:
df.iloc[0,0] = "DHL"                  #první napíšu DHL    

for j in range(len(casy)):
    
    for i in range(len(vsichni)): #pro každé políčko platí že:
        
        if (df.iloc[i,j] == "-"):   #pokud je políčko prázdné tak potom:
            
            if (s1 == 0):            #pokud nikdo není na S1
                df.iloc[i,j] = "S1"
                s1 = 1
                
            elif (s1 == 1):   #pokud uz je jeden clovek napsany - musim zchecknout, jestli nejsou stejne pohlavi
                prvni_s1 = df.loc[df['6:30-7'] == "S1"].index[0][0]  #najde s1 v tom sloupci a dá to jméno řádku
                druhy_s1 = vsichni[i] #ziskam jmeno cloveka na radku
                
                if (not(((prvni_s1 in muzi) and (druhy_s1 in muzi))
                        or ((prvni_s1 in zeny) and (druhy_s1 in zeny)))): 
                    #zchecknu jestli nejsou stejni
                    df.iloc[i,j] = "S1"  #priradim tomu cloveku S1
                    s1 = 2
                        
                        
            elif (s1 == 2):
                
                pass
               # elif (s2 < 2):             #zaplním dvakrát s2
               #     df.iloc[i,j] = "S2"
               #     s2 = s2+1
                
                
            #else:
            #    pass
        
        #cargo 1 clovek
        #KP 2x za den
        #P 4x za den
        # S1 muz A zena po-pá
        # s1 muz NEBO zena so+ne+svatky
        # ZACINA PRVNI - DHL rano muz pul hodiny, odpoledne 15:30-18:30, s1; s2; přestávky
        
        #else:
        #df.iloc[i,j] = random.choice(stanoviste)

In [142]:
df.loc[df['6:30-7'] == "S1"].index[0][0]

'Jenda'

In [151]:
vsichni[3]

'Vestkyne'

In [92]:
ff = df.loc[df['6:30-7'] == "DHL"].index[0][0]

In [199]:
df

         6:30-7 7-8 8-9 9-10 10-11 11-12
Pepa        DHL   -   -    -     -     -
Jenda        S1   -   -    -     -     -
Franta        -   -   -    -     -     -
Cikanka      S1   -   -    -     -     -
Vestkyne      -   -   -    -     -     -
Jolanda       -   -   -    -     -     -

In [95]:
ff in muzi

True

In [156]:
vsichni[3] in zeny

True